.nav-container{
    width: 50vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
}

.btn-link{
    width: 125px;
    height: 40px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Fade 1s ease normal;
}
p{
    margin-bottom: 20px;
    text-align: center;
    animation: Fade 1s ease normal;
}

.btn-link:nth-child(2){
    font-size: 14px;
    background-color: pink;
    animation: Fade 1s ease normal;
}

.btn-link:nth-child(3){
    font-size: 14px;
    background-color: orange;
    color: #000000;
    animation: Fade 1s ease normal;
}


@keyframes Fade {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 768px){
    .nav-container{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}