.App {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
table{
  width: 500px;
  border: 1px solid #000000;
  border-radius: 12px;
  box-shadow: 2px 5px 1px #D9D9D9;
  padding: 6px;
  text-transform: uppercase;
  animation: Fade 1s ease normal;
}
thead{
  height: 35px;
  background-color: #D9D9D9;
}

table th{
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
}

table .tableCells{
  padding-left: 10px;
  border-bottom: 1px solid black;
  text-align: center;
  animation: ShowContent 2s ease normal;
}
table .tableRows{
  height: 50px;
  transition: all .2s ease-in;
}

table .tableRows:hover{
  transform: scale(1.02);
  background-color: #000000;
  color: #FFFFFF;
}

@keyframes Fade {
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}
@keyframes ShowContent {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  table{
    width: 300px;
    font-size: 12px;
  }
}